// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  width: 75px;
  height: auto;
}

.book_show {
  width: 200px;
  height: auto;
}